on:
  workflow_call:
    secrets:
      DOCKER_REGISTRY:
        required: true
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true
    inputs:
      context:
        type: string
        default: .
      image-name:
        type: string
      image-extra:
        type: string

jobs:
  deploy-docker-ghcr:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login to GHCR registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Needed for some images that still require from the old registry
      - name: Login to self-hosted registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v3

      # Using https://github.com/docker/metadata-action#semver
      # We will create docker tags according to the following event types:
      # Event 	      Ref 	                    Docker Tags
      # pull_request 	refs/pull/2/merge         pr-2
      # push 	        refs/heads/master         master
      # push 	        refs/heads/releases/v1 	  releases-v1
      # push tag 	    refs/tags/v1.2.3 	        1.2.3,  1.2, latest
      # push tag 	    refs/tags/v2.0.8-beta.67 	2.0.8-beta.67
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/daxtratech/${{ inputs.image-name || github.event.repository.name }}${{ inputs.image-extra }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=match,pattern=v(.*),group=1

      - name: Build and push
        id: push
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.context }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
          build-args: |
            NPM_TOKEN=${{ secrets.GITHUB_TOKEN }}
          secrets: |
            "npm-token=${{ secrets.GITHUB_TOKEN }}"
            "pip-token=${{ secrets.PIP_GITHUB_TOKEN }}"
            "hf-token=${{ secrets.HF_TOKEN }}"

      - uses: actions-ecosystem/action-regex-match@v2
        id: regex-match
        with:
          text: ${{ steps.meta.outputs.version }}
          regex: '^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)$'

      - name: Notify Slack
        if: ${{ steps.regex-match.outputs.match != '' }}
        uses: slackapi/slack-github-action@v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_CHANNEL_ID }}
            text: "New ${{ inputs.image-name || github.event.repository.name }} version ${{ steps.meta.outputs.version }} has been pushed to the registry :tada: \n*Images:*\n`${{ join(steps.meta.outputs.tags, '\n' ) }}`"

  deploy-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login to GHCR registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to docker registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v3

      # Using https://github.com/docker/metadata-action#semver
      # We will create docker tags according to the following event types:
      # Event 	      Ref 	                    Docker Tags
      # pull_request 	refs/pull/2/merge         pr-2
      # push 	        refs/heads/master         master
      # push 	        refs/heads/releases/v1 	  releases-v1
      # push tag 	    refs/tags/v1.2.3 	        1.2.3,  1.2, latest
      # push tag 	    refs/tags/v2.0.8-beta.67 	2.0.8-beta.67
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ secrets.DOCKER_REGISTRY }}/daxtra/${{ inputs.image-name || github.event.repository.name }}${{ inputs.image-extra }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=match,pattern=v(.*),group=1

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.context }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
          build-args: |
            NPM_TOKEN=${{ secrets.GITHUB_TOKEN }}
          secrets: |
            "npm-token=${{ secrets.GITHUB_TOKEN }}"
            "pip-token=${{ secrets.PIP_GITHUB_TOKEN }}"
            "hf-token=${{ secrets.HF_TOKEN }}"

      - uses: actions-ecosystem/action-regex-match@v2
        id: regex-match
        with:
          text: ${{ steps.meta.outputs.version }}
          regex: '^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)$'

      - name: Notify Slack
        if: ${{ steps.regex-match.outputs.match != '' }}
        uses: slackapi/slack-github-action@v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_CHANNEL_ID }}
            text: "New ${{ inputs.image-name || github.event.repository.name }} version ${{ steps.meta.outputs.version }} has been pushed to the registry :tada: \n*Images:*\n`${{ join(steps.meta.outputs.tags, '\n' ) }}`"
